@font-face {
  font-family:'Kumbh Sans' ;
  src: url('../src/assets/fonts/Kumbh_Sans/static/KumbhSans-Regular.ttf');
font-weight: normal;
}
@font-face {
  font-family:'Kumbh Sans' ;
  src: url('../src/assets/fonts/Kumbh_Sans/static/KumbhSans-Bold.ttf');
font-weight: bold;
}
html{
  height: 100%;
  width: 100%;
  
}
body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family:'Kumbh Sans' ;
}
#root{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat,no-repeat;
  background-color: hsl(185, 75%, 39%);
  background-image: url('../src/assets/images/bg-pattern-top.svg'),url(
    '../src/assets/images/bg-pattern-bottom.svg');
  
    background-position: right 50vw bottom 40vh,left 50vw top 50vh;
}
